@{
    ViewData["Title"] = "Home Page";
}

<div style="text-align:center">
    <div>
        <h1>Welcome To Our Hospital</h1>
    </div>

    <div>
        <p>Thank you for chosing our hospital for your healthcare needs.</p>
    </div>

    <div>
        <p>Here ,we strive to provide the highest quality medicale care to our patient.</p>
    </div>

    <div>
        <p>Learn more about our servics and specia:</p>
    </div>

    <div>
        <table class="table table-bordered">

            <tr><td>Internal Medicine</td></tr>
            <tr><td>Pediatrics</td></tr>
            <tr><td>Surgry</td></tr>

        </table>



    </div>

    <div>
        <p>If you have any questions or need assistance,please don't hesitate to contact us.</p>
    </div>

</div>
